<h1>Listing buttons</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @buttons.each do |button| %>
  <tr>
    <td><%= button.name %></td>
    <td><%= link_to 'Edit',
          edit_project_proposal_button_path(@project, @proposal, button) %></td>
    <td><%= link_to 'Remove', [@project, @proposal, button], method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '&laquo; Back'.html_safe, :back %>
<%= link_to 'New Button', new_project_proposal_button_path(@project, @proposal) %>