<%= content_for_breadcrumb %>
<h1><%= t('.title', name: @button.name) %></h1>
<%= form_for([@project, @proposal, @button],
      html: { class: 'form-horizontal' }) do |f| %>
  <%= field_set_tag t('.legend') do %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
  <div class="form-actions">
    <%= link_to t('.back'),
          results_project_path(@project, tab: @project.proposals.index(@proposal)),
          class: 'btn' %>
    <%= f.submit t('.save'), name: :action_save_recommendations,
            class: 'btn btn-primary' %>
  </div>
<% end %>