<p id="notice"><%= notice %></p>

<p>
  <b>Proposal:</b>
  <%= @button.proposal_id %>
</p>

<p>
  <b>Pressing:</b>
  <%= @button.pressing %>
</p>

<p>
  <b>Pushing:</b>
  <%= @button.pushing %>
</p>

<p>
  <b>Pulling:</b>
  <%= @button.pulling %>
</p>

<p>
  <b>Turning:</b>
  <%= @button.turning %>
</p>

<p>
  <b>Sliding:</b>
  <%= @button.sliding %>
</p>

<p>
  <b>Shape:</b>
  <%= @button.shape %>
</p>

<p>
  <b>Length or external diameter:</b>
  <%= @button.length_or_external_diameter %>
</p>

<p>
  <b>Width:</b>
  <%= @button.width %>
</p>

<p>
  <b>Height:</b>
  <%= @button.height %>
</p>

<p>
  <b>Force required:</b>
  <%= @button.force_required %>
</p>

<p>
  <b>Colour:</b>
  <%= @button.colour %>
</p>

<p>
  <b>Background colour:</b>
  <%= @button.background_colour %>
</p>

<p>
  <b>One finger press:</b>
  <%= @button.one_finger_press %>
</p>

<p>
  <b>Two fingers press:</b>
  <%= @button.two_fingers_press %>
</p>

<p>
  <b>Thumb press:</b>
  <%= @button.thumb_press %>
</p>


<%= link_to 'Edit', edit_button_path(@button) %> |
<%= link_to 'Back', buttons_path %>
