<h1>Listing audio_devices</h1>

<table>
  <tr>
    <th>Proposal</th>
    <th>Range of volume specifications</th>
    <th>Sound volume specifications</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @audio_devices.each do |audio_device| %>
  <tr>
    <td><%= audio_device.proposal_id %></td>
    <td><%= audio_device.range_of_volume_specifications %></td>
    <td><%= audio_device.sound_volume_specifications %></td>
    <td><%= link_to 'Show', audio_device %></td>
    <td><%= link_to 'Edit', edit_audio_device_path(audio_device) %></td>
    <td><%= link_to 'Destroy', audio_device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Audio device', new_audio_device_path %>
