<p id="notice"><%= notice %></p>

<p>
  <b>Proposal:</b>
  <%= @audio_device.proposal_id %>
</p>

<p>
  <b>Range of volume specifications:</b>
  <%= @audio_device.range_of_volume_specifications %>
</p>

<p>
  <b>Sound volume specifications:</b>
  <%= @audio_device.sound_volume_specifications %>
</p>


<%= link_to 'Edit', edit_audio_device_path(@audio_device) %> |
<%= link_to 'Back', audio_devices_path %>
