<p id="notice"><%= notice %></p>

<p>
  <b>Proposal:</b>
  <%= @screen.proposal_id %>
</p>

<p>
  <b>Has screen:</b>
  <%= @screen.has_screen %>
</p>


<%= link_to 'Edit', edit_screen_path(@screen) %> |
<%= link_to 'Back', screens_path %>
