<p id="notice"><%= notice %></p>

<p>
  <b>Proposal:</b>
  <%= @label.proposal_id %>
</p>

<p>
  <b>Printed:</b>
  <%= @label.printed %>
</p>

<p>
  <b>Digital:</b>
  <%= @label.digital %>
</p>

<p>
  <b>Font type:</b>
  <%= @label.font_type %>
</p>

<p>
  <b>Text size:</b>
  <%= @label.text_size %>
</p>

<p>
  <b>Text colour:</b>
  <%= @label.text_colour %>
</p>

<p>
  <b>Labels reading distance:</b>
  <%= @label.labels_reading_distance %>
</p>

<p>
  <b>Background colour:</b>
  <%= @label.background_colour %>
</p>


<%= link_to 'Edit', edit_label_path(@label) %> |
<%= link_to 'Back', labels_path %>
