<p id="notice"><%= notice %></p>

<p>
  <b>Proposal:</b>
  <%= @switch.proposal_id %>
</p>

<p>
  <b>Pressing:</b>
  <%= @switch.pressing %>
</p>

<p>
  <b>Pushing:</b>
  <%= @switch.pushing %>
</p>

<p>
  <b>Pulling:</b>
  <%= @switch.pulling %>
</p>

<p>
  <b>Turning:</b>
  <%= @switch.turning %>
</p>

<p>
  <b>Sliding:</b>
  <%= @switch.sliding %>
</p>

<p>
  <b>Shape:</b>
  <%= @switch.shape %>
</p>

<p>
  <b>Length or external diameter:</b>
  <%= @switch.length_or_external_diameter %>
</p>

<p>
  <b>Width:</b>
  <%= @switch.width %>
</p>

<p>
  <b>Height:</b>
  <%= @switch.height %>
</p>

<p>
  <b>Force required:</b>
  <%= @switch.force_required %>
</p>

<p>
  <b>Colour:</b>
  <%= @switch.colour %>
</p>

<p>
  <b>Background colour:</b>
  <%= @switch.background_colour %>
</p>

<p>
  <b>Pinch grip:</b>
  <%= @switch.pinch_grip %>
</p>

<p>
  <b>Span grip:</b>
  <%= @switch.span_grip %>
</p>

<p>
  <b>Spherical grip:</b>
  <%= @switch.spherical_grip %>
</p>

<p>
  <b>Disc grip:</b>
  <%= @switch.disc_grip %>
</p>

<p>
  <b>Flat hand push:</b>
  <%= @switch.flat_hand_push %>
</p>

<p>
  <b>One finger press:</b>
  <%= @switch.one_finger_press %>
</p>

<p>
  <b>Two fingers press:</b>
  <%= @switch.two_fingers_press %>
</p>

<p>
  <b>Thumb press:</b>
  <%= @switch.thumb_press %>
</p>


<%= link_to 'Edit', edit_switch_path(@switch) %> |
<%= link_to 'Back', switches_path %>
