<%= form_for([@project, @proposal, @handle],
      html: { class: 'form-horizontal' }) do |f| %>
  <%= field_set_tag t('.legend') do %>
    <%= tb_form_wrapper(@handle, :name) do %>
      <%= f.text_field :name %>
    <% end %>
    <%= tb_form_wrapper(@handle, :tasks) do %>
      <a rel="tooltip" data-placement="right"
        data-original-title="<%= t('.task_tooltip') %>">
        <label class="checkbox inline">
          <%= f.check_box :holding %>
          <%= t('.holding') %>
        </label>
        <label class="checkbox inline">
          <%= f.check_box :moving %>
          <%= t('.moving') %>
        </label>
        <label class="checkbox inline">
          <%= f.check_box :carrying %>
          <%= t('.carrying') %>
        </label>
      </a>
    <% end %>
    <%= tb_form_wrapper(@handle, :shape) do %>
      <%= f.select :shape, Handle::SHAPE_VALUES, prompt: true %>
    <% end %>
    <%= tb_form_wrapper(@handle, :external_diameter) do %>
      <div class="input-append">
        <%= f.text_field :external_diameter, class: 'input-small' %>
        <span class="add-on"><%= t('.external_diameter_unit') %></span>
      </div>
    <% end %>
    <%= tb_form_wrapper(@handle, :width) do %>
      <div class="input-append">
        <%= f.text_field :width, class: 'input-small' %>
        <span class="add-on"><%= t('.width_unit') %></span>
      </div>
    <% end %>
    <%= tb_form_wrapper(@handle, :height) do %>
      <div class="input-append">
        <%= f.text_field :height, class: 'input-small' %>
        <span class="add-on"><%= t('.height_unit') %></span>
      </div>
    <% end %>
    <%= tb_form_wrapper(@handle, :grips) do %>
      <ul class="thumbnails">
        <%= render 'shared/grip_image', f: f, field: :pinch_grip %>
        <%= render 'shared/grip_image', f: f, field: :pinch_grip_2 %>
        <%= render 'shared/grip_image', f: f, field: :power_grip %>
        <%= render 'shared/grip_image', f: f, field: :spherical_grip %>
      </ul>
    <% end %>
    <%= tb_form_wrapper(@handle, :fake_grips) do %>
      <ul class="thumbnails">
        <%= render 'shared/grip_image', f: f, field: :cylindrical_grip %>
        <%= render 'shared/grip_image', f: f, field: :disc_grip %>
        <%= render 'shared/grip_image', f: f, field: :disc_grip_2 %>
        <%= render 'shared/grip_image', f: f, field: :hook_grip %>
      </ul>
    <% end %>
  <% end %>
  <div class="form-actions">
    <%= link_to t('.back'), project_proposal_labels_path(@project, @proposal),
          class: 'btn' %>
    <%= f.submit t('.save'), name: :action_save, class: 'btn btn-primary' %>
  </div>
<% end %>
