<h1>Listing handles</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @handles.each do |handle| %>
  <tr>
    <td><%= handle.name %></td>
    <td><%= link_to 'Edit',
          edit_project_proposal_handle_path(@project, @proposal, handle) %></td>
    <td><%= link_to 'Remove', [@project, @proposal, handle], method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '&laquo; Back'.html_safe, :back %>
<%= link_to 'New Handle', new_project_proposal_handle_path(@project, @proposal) %>