<p id="notice"><%= notice %></p>

<p>
  <b>Proposal:</b>
  <%= @handle.proposal_id %>
</p>

<p>
  <b>Holding:</b>
  <%= @handle.holding %>
</p>

<p>
  <b>Moving:</b>
  <%= @handle.moving %>
</p>

<p>
  <b>Carrying:</b>
  <%= @handle.carrying %>
</p>

<p>
  <b>Shape:</b>
  <%= @handle.shape %>
</p>

<p>
  <b>Length or radius:</b>
  <%= @handle.length_or_radius %>
</p>

<p>
  <b>Width:</b>
  <%= @handle.width %>
</p>

<p>
  <b>Height:</b>
  <%= @handle.height %>
</p>

<p>
  <b>Pinch grip:</b>
  <%= @handle.pinch_grip %>
</p>

<p>
  <b>Power grip:</b>
  <%= @handle.power_grip %>
</p>

<p>
  <b>Span grip:</b>
  <%= @handle.span_grip %>
</p>

<p>
  <b>Spherical grip:</b>
  <%= @handle.spherical_grip %>
</p>

<p>
  <b>Cylindrical grip:</b>
  <%= @handle.cylindrical_grip %>
</p>

<p>
  <b>Disc grip:</b>
  <%= @handle.disc_grip %>
</p>

<p>
  <b>Hook grip:</b>
  <%= @handle.hook_grip %>
</p>

<p>
  <b>Flat hand push:</b>
  <%= @handle.flat_hand_push %>
</p>


<%= link_to 'Edit', edit_handle_path(@handle) %> |
<%= link_to 'Back', handles_path %>
