<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this
        project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.check_box :maximum_target %>
    Target as many people as possible?
  </div>
  <div class="field">
    <%= f.label :target_market %><br />
    <%= f.text_field :target_market %>
  </div>
  <div class="field">
    <%= f.label 'timescale (months)' %><br />
    <%= f.text_field :timescale %>
  </div>
  <div class="field">
    <%= f.label 'volume_of_sale (units)' %><br />
    <%= f.number_field :volume_of_sale %>
  </div>
  <div class="field">
    <%= f.label 'final_price (£)' %><br />
    <%= f.text_field :final_price %>
  </div>
  <div class="actions">
    <%= link_to '&laquo; Back'.html_safe, :back %>
    <%= f.submit 'Save', name: :action_save %>
    <%= f.submit 'Manage proposals &raquo;'.html_safe, name: :action_proposals %>
  </div>
<% end %>
