<%= form_for(@project, html: { class: 'form-horizontal' }) do |f| %>
  <%= field_set_tag t('.legend') do %>
    <%= tb_form_wrapper(@project, :name) do %>
      <%= f.text_field :name, placeholder: t('.name_placeholder') %>
    <% end %>
    <%= tb_form_wrapper(@project, :target_market) do %>
      <label class="checkbox">
        <%= f.check_box :maximum_target %>
        Target as many people as possible?
      </label>
      <%= f.text_field :target_market,
                       placeholder: t('.target_market_placeholder') %>
    <% end %>
    <%= tb_form_wrapper(@project, :timescale) do %>
      <div class="input-append">
        <%= f.text_field :timescale, class: 'input-small' %>
        <span class="add-on"><%= t('.timescale_unit') %></span>
      </div>
    <% end %>
    <%= tb_form_wrapper(@project, :volume_of_sale) do %>
      <div class="input-append">
        <%= f.text_field :volume_of_sale, class: 'input-small' %>
        <span class="add-on"><%= t('.volume_of_sale_unit') %></span>
      </div>
    <% end %>
    <%= tb_form_wrapper(@project, :final_price) do %>
      <div class="input-prepend">
        <span class="add-on"><%= t('.final_price_unit') %></span>
        <%= f.text_field :final_price, class: 'input-small' %>
      </div>
    <% end %>
    <div class="form-actions">
      <%= link_to t('.back'), projects_path, class: 'btn' %>
      <%= f.submit t('.save'), name: :action_save, class: 'btn' %>
      <%= f.submit t('.proposals'), name: :action_proposals,
                   class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
