<div class="tab-pane fade <%= 'active in' if @tab == tab_content_counter.to_s %>"
     id="<%= "proposal_#{tab_content.id}" %>">
  <div class="row">
    <div class="span3">
      <h4><%= t('.company_reqs') %></h4>
      <%= render partial: 'req_button', locals: { id: tab_content.id },
            collection: [ :target_market, :market_share, :market_response,
                          :volume_of_sale, :final_price, :project_timescale,
                          :sustainability, :social_responsibility,
                          :impact_on_brand ] %>
    </div>

    <div class="span6">
      <div class="row-fluid">
        <ul class="thumbnails">
          <%= render partial: 'shared/image', collection: tab_content.images,
                locals: { span: 'span6' } %>
        </ul>
      </div>
      <%= render partial: 'results',
            locals: { r: tab_content.results, proposal_id: tab_content.id } %>
    </div>

    <div class="span3">
      <h4><%= t('.design_reqs') %></h4>
      <%= render partial: 'req_button', locals: { id: tab_content.id },
            collection: [ :functionality, :aesthetics, :manufacturing,
                          :components, :usability_accessibility, :materials,
                          :finishing, :maintenance, :disposal ] %>
    </div>
  </div>
</div>
<%= form_for [@project, tab_content], remote: true do |f| %>
  <%= render partial: 'req_modal', locals: { id: tab_content.id, f: f,
        var: (@project.volume_of_sale / 100 *
              tab_content.results.percentual if tab_content.results.any?) },
        collection: [:target_market, :market_share, :market_response,
                     :volume_of_sale, :final_price, :project_timescale,
                     :sustainability, :social_responsibility,
                     :impact_on_brand, :functionality, :aesthetics,
                     :manufacturing, :components, :usability_accessibility,
                     :materials, :finishing, :maintenance, :disposal ] %>
<% end -%>