<div id="menu">
  <span>Project Specifications</span>
  &nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;
  <span>Design Proposals</span>
  &nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;
  <span id="current">Design Proposals Presentation</span>
</div>

<h1>Project: <%= @project.name %></h1>
<% unless @project.proposals.empty? %>
  <% @project.proposals.each do |proposal| %>
    <h2><%= "#{proposal.name}" %></h2>
    <%= render 'images', images: proposal.images %>

    <h3>Dexterity</h3>
    <%= render 'result', values: proposal.results[:dexterity] %>

    <h3>Visibility</h3>
    <%= render 'result', values: proposal.results[:visibility] %>

    <br /><br />
    <%= link_to "Edit #{proposal.name}", edit_proposal_path(proposal),
      class: 'button' %>
    <br /><br />
  <% end %>
<% else %>
  <p>Please create at least one proposal to view the results.</p>
<% end %>

<%= link_to 'Back', proposals_path %> |
<%= link_to 'Home', projects_path %>