<%= content_for_breadcrumb %>

<div class="row">
  <h1><%= "#{t('.project')} #{@project.name}" %></h1>
</div>
<div class="row">
  <!-- Tabs -->
   <ul id="proposals-tabs" class="nav nav-tabs">
    <%= render partial: 'tab', collection: @project.proposals %>
  </ul>

  <!-- Tab content -->
  <div id="proposals-tabs-content" class="tab-content">
    <%= render partial: 'tab_content', collection: @project.proposals %>
  </div>
</div>
<div class="row">
  <div class="form-actions">
    <%= link_to t('.back'), projects_path, class: 'btn' %>
  </div>
</div>