<p id="notice"><%= notice %></p>

 <h1><%= @project.name %></h1>

<p>
  <span class="label">Target market:</span>
  <%= @project.target_market %>
</p>
<p>
  <span class="label">Timescale:</span>
  <%= @project.timescale %>
</p>
<p>
  <span class="label">Volume of sale:</span>
  <%= number_with_delimiter @project.volume_of_sale %>
</p>
<p>
  <span class="label">Final price:</span>
  <%= number_to_currency @project.final_price %>
</p>

<% unless @project.proposals.empty? %>
  <% @project.proposals.each do |proposal| %>
    <h1><%= proposal.name %></h1>
    
    <h2>Shape attributes</h2>
    
    <%= render partial: 'show_shape', locals: {shape: proposal.handle_shape,
      label: "Handle shape:" } %>
    <%= render partial: 'show_shape', locals: {shape: proposal.switch_shape,
      label: "Switch shape:" } %>
    <%= render partial: 'show_shape', locals: {shape: proposal.knob_shape,
      label: "Knob shape:" } %>
    <%= render partial: 'show_shape', locals: {shape: proposal.button_shape,
      label: "Button shape:" } %>
    <%= render partial: 'show_shape', locals: {shape: proposal.scrollbar_shape,
      label: "Scrollbar shape:" } %>
  <% end %>
<% end %>

<br />

<%= link_to 'Back', projects_path %>