<p id="notice"><%= notice %></p>

 <h1><%= @project.name %></h1>

<p>
  <span class="label">Target market:</span>
  <%= @project.target_market %>
</p>
<p>
  <span class="label">Timescale:</span>
  <%= @project.timescale %>
</p>
<p>
  <span class="label">Volume of sale:</span>
  <%= number_with_delimiter @project.volume_of_sale %>
</p>
<p>
  <span class="label">Final price:</span>
  <%= number_to_currency @project.final_price %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
