<p id="notice"><%= notice %></p>

 <h1><%= @project.name %></h1>

<p>
  <span class="label">Target market:</span>
  <%= @project.target_market %>
</p>
<p>
  <span class="label">Timescale:</span>
  <%= @project.timescale %>
</p>
<p>
  <span class="label">Volume of sale:</span>
  <%= number_with_delimiter @project.volume_of_sale %>
</p>
<p>
  <span class="label">Final price:</span>
  <%= number_to_currency @project.final_price %>
</p>

<% unless @project.proposals.empty? %>
  <% @project.proposals.each do |proposal| %>
    <h1><%= proposal.name %></h1>
    <h2>Shape attributes</h2>
    <% if proposal.handle_shape %>
      <p>
        <span class="label">Handle shape:</span>
        <%= proposal.handle_shape.name %>
      </p>
    <% end %>
    <% if proposal.switch_shape %>
      <p>
        <span class="label">Switch shape:</span>
        <%= proposal.switch_shape.name %>
      </p>
    <% end %>
    <% if proposal.knob_shape %>
      <p>
        <span class="label">Knob shape:</span>
        <%= proposal.knob_shape.name %>
      </p>
    <% end %>
    <% if proposal.button_shape %>
      <p>
        <span class="label">Button shape:</span>
        <%= proposal.button_shape.name %>
      </p>
    <% end %>
    <% if proposal.scrollbar_shape %>
      <p>
        <span class="label">Scrollbar shape:</span>
        <%= proposal.scrollbar_shape.name %>
      </p>
    <% end %>
  <% end %>
<% end %>

<br />

<%= link_to 'Back', projects_path %>