<%= form_for(@knob) do |f| %>
  <% if @knob.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@knob.errors.count, "error") %> prohibited this knob from being saved:</h2>

      <ul>
      <% @knob.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :proposal_id %><br />
    <%= f.number_field :proposal_id %>
  </div>
  <div class="field">
    <%= f.label :pressing %><br />
    <%= f.check_box :pressing %>
  </div>
  <div class="field">
    <%= f.label :pushing %><br />
    <%= f.check_box :pushing %>
  </div>
  <div class="field">
    <%= f.label :pulling %><br />
    <%= f.check_box :pulling %>
  </div>
  <div class="field">
    <%= f.label :turning %><br />
    <%= f.check_box :turning %>
  </div>
  <div class="field">
    <%= f.label :sliding %><br />
    <%= f.check_box :sliding %>
  </div>
  <div class="field">
    <%= f.label :shape %><br />
    <%= f.text_field :shape %>
  </div>
  <div class="field">
    <%= f.label :length_or_radius %><br />
    <%= f.text_field :length_or_radius %>
  </div>
  <div class="field">
    <%= f.label :width %><br />
    <%= f.text_field :width %>
  </div>
  <div class="field">
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :force_required %><br />
    <%= f.text_field :force_required %>
  </div>
  <div class="field">
    <%= f.label :colour %><br />
    <%= f.text_field :colour %>
  </div>
  <div class="field">
    <%= f.label :background_colour %><br />
    <%= f.text_field :background_colour %>
  </div>
  <div class="field">
    <%= f.label :pinch_grip %><br />
    <%= f.check_box :pinch_grip %>
  </div>
  <div class="field">
    <%= f.label :span_grip %><br />
    <%= f.check_box :span_grip %>
  </div>
  <div class="field">
    <%= f.label :spherical_grip %><br />
    <%= f.check_box :spherical_grip %>
  </div>
  <div class="field">
    <%= f.label :cylindrical_grip %><br />
    <%= f.check_box :cylindrical_grip %>
  </div>
  <div class="field">
    <%= f.label :disc_grip %><br />
    <%= f.check_box :disc_grip %>
  </div>
  <div class="field">
    <%= f.label :one_finger_press %><br />
    <%= f.check_box :one_finger_press %>
  </div>
  <div class="field">
    <%= f.label :two_fingers_press %><br />
    <%= f.check_box :two_fingers_press %>
  </div>
  <div class="field">
    <%= f.label :thumb_press %><br />
    <%= f.check_box :thumb_press %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
