<%= content_for_breadcrumb %>
<h1><%= t('.title') %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @knobs.each do |knob| %>
    <tr>
      <td><%= knob.name %></td>
      <td class="btn-group">
        <%= link_to(t('.edit'),
              edit_project_proposal_knob_path(@project, @proposal, knob),
              class: 'btn btn-small') %>
        <%= link_to 'Remove', [@project, @proposal, knob], method: :delete,
              data: { confirm: t('.delete_confirm') },
              class: 'btn btn-small btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to(t('.back'), edit_project_proposal_path(@project, @proposal),
      class: 'btn btn-secondary') %>
<%= link_to(t('.new'), new_project_proposal_knob_path(@project, @proposal),
      class: 'btn btn-primary') %>
