<p id="notice"><%= notice %></p>

<p>
  <b>Proposal:</b>
  <%= @knob.proposal_id %>
</p>

<p>
  <b>Pressing:</b>
  <%= @knob.pressing %>
</p>

<p>
  <b>Pushing:</b>
  <%= @knob.pushing %>
</p>

<p>
  <b>Pulling:</b>
  <%= @knob.pulling %>
</p>

<p>
  <b>Turning:</b>
  <%= @knob.turning %>
</p>

<p>
  <b>Sliding:</b>
  <%= @knob.sliding %>
</p>

<p>
  <b>Shape:</b>
  <%= @knob.shape %>
</p>

<p>
  <b>Length or external diameter:</b>
  <%= @knob.length_or_external_diameter %>
</p>

<p>
  <b>Width:</b>
  <%= @knob.width %>
</p>

<p>
  <b>Height:</b>
  <%= @knob.height %>
</p>

<p>
  <b>Force required:</b>
  <%= @knob.force_required %>
</p>

<p>
  <b>Colour:</b>
  <%= @knob.colour %>
</p>

<p>
  <b>Background colour:</b>
  <%= @knob.background_colour %>
</p>

<p>
  <b>Pinch grip:</b>
  <%= @knob.pinch_grip %>
</p>

<p>
  <b>Span grip:</b>
  <%= @knob.span_grip %>
</p>

<p>
  <b>Spherical grip:</b>
  <%= @knob.spherical_grip %>
</p>

<p>
  <b>Cylindrical grip:</b>
  <%= @knob.cylindrical_grip %>
</p>

<p>
  <b>Disc grip:</b>
  <%= @knob.disc_grip %>
</p>

<p>
  <b>One finger press:</b>
  <%= @knob.one_finger_press %>
</p>

<p>
  <b>Two fingers press:</b>
  <%= @knob.two_fingers_press %>
</p>

<p>
  <b>Thumb press:</b>
  <%= @knob.thumb_press %>
</p>


<%= link_to 'Edit', edit_knob_path(@knob) %> |
<%= link_to 'Back', knobs_path %>
