<%= form_for(@opening_device) do |f| %>
  <% if @opening_device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opening_device.errors.count, "error") %> prohibited this opening_device from being saved:</h2>

      <ul>
      <% @opening_device.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :proposal_id %><br />
    <%= f.number_field :proposal_id %>
  </div>
  <div class="field">
    <%= f.label :is_opening_device %><br />
    <%= f.check_box :is_opening_device %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
