<h1>Listing opening_devices</h1>

<table>
  <tr>
    <th>Proposal</th>
    <th>Is opening device</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @opening_devices.each do |opening_device| %>
  <tr>
    <td><%= opening_device.proposal_id %></td>
    <td><%= opening_device.is_opening_device %></td>
    <td><%= link_to 'Show', opening_device %></td>
    <td><%= link_to 'Edit', edit_opening_device_path(opening_device) %></td>
    <td><%= link_to 'Destroy', opening_device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Opening device', new_opening_device_path %>
