<p id="notice"><%= notice %></p>

<p>
  <b>Proposal:</b>
  <%= @opening_device.proposal_id %>
</p>

<p>
  <b>Is opening device:</b>
  <%= @opening_device.is_opening_device %>
</p>


<%= link_to 'Edit', edit_opening_device_path(@opening_device) %> |
<%= link_to 'Back', opening_devices_path %>
