<%= form_for(@proposal) do |f| %>
  <% if @proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proposal.errors.count, "error") %> prohibited this 
        proposal from being saved:</h2>

      <ul>
      <% @proposal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :product_weight %><br />
    <%= f.text_field :product_weight %>
  </div>

  <div class="field">
    <%= f.label :product_colour %><br />
    <%= f.text_field :product_colour %>
  </div>

  <!-- TODO: partials??? -->
  <h2>Images</h2>
  <%= f.fields_for :images do |handle_form| %>
    <div class="field">
      <%= handle_form.label :name %><br />
      <%= handle_form.text_field :name %>
      <%= handle_form.file_field :image %>
    </div>        
  <% end %>

  <%= f.fields_for :handle do |handle_form| %>
    <h2>Handle</h2>
    <table class="fields">
      <tr>
        <td>
          <div class="field">
            <%= handle_form.check_box :holding %>
            <%= handle_form.label :holding %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= handle_form.check_box :moving %>
            <%= handle_form.label :moving %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= handle_form.check_box :carrying %>
            <%= handle_form.label :carrying %>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="field">
            <%= handle_form.label :shape %>
            <%= handle_form.select :shape, Handle::SHAPE_VALUES, prompt: true %>
          </div>        
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= handle_form.label :length_or_radius %><br />
            <%= handle_form.text_field :length_or_radius, size: 10 %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= handle_form.label :width %><br />
            <%= handle_form.text_field :width, size: 10 %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= handle_form.label :height %><br />
            <%= handle_form.text_field :height, size: 10 %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= handle_form.check_box :pinch_grip %>
            <%= handle_form.label :pinch_grip %>
          </div>
          <div class="field">
            <%= handle_form.check_box :power_grip %>
            <%= handle_form.label :power_grip %>
          </div>
          <div class="field">
            <%= handle_form.check_box :span_grip %>
            <%= handle_form.label :span_grip %>
          </div>
          <div class="field">
            <%= handle_form.check_box :spherical_grip %>
            <%= handle_form.label :spherical_grip %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= handle_form.check_box :cylindrical_grip %>
            <%= handle_form.label :cylindrical_grip %>
          </div>
          <div class="field">
            <%= handle_form.check_box :disc_grip %>
            <%= handle_form.label :disc_grip %>
          </div>
          <div class="field">
            <%= handle_form.check_box :hook_grip %>
            <%= handle_form.label :hook_grip %>
          </div>
          <div class="field">
            <%= handle_form.check_box :flat_hand_push %>
            <%= handle_form.label :flat_hand_push %>
          </div>
        </td>
        <td></td>
      </tr>
    </table>
  <% end %>

  <%= f.fields_for :switch do |switch_form| %>
    <h2>Switch</h2>
    <table class="fields">
      <tr>
        <td>
          <div class="field">
            <%= switch_form.check_box :pressing %>
            <%= switch_form.label :pressing %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= switch_form.check_box :pushing %>
            <%= switch_form.label :pushing %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= switch_form.check_box :pulling %>
            <%= switch_form.label :pulling %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= switch_form.check_box :turning %>
            <%= switch_form.label :turning %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= switch_form.check_box :sliding %>
            <%= switch_form.label :sliding %>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="field">
            <%= switch_form.label :shape %>
            <%= switch_form.select :shape, Switch::SHAPE_VALUES, prompt: true %>
          </div>        
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= switch_form.label :length_or_radius %><br />
            <%= switch_form.text_field :length_or_radius, size: 10 %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= switch_form.label :width %><br />
            <%= switch_form.text_field :width, size: 10 %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= switch_form.label :height %><br />
            <%= switch_form.text_field :height, size: 10 %>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="field">
            <%= switch_form.label :force_required %><br />
            <%= switch_form.text_field :force_required, size: 10 %>
          </div>        
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= switch_form.label :colour %><br />
            <%= switch_form.text_field :colour, size: 10 %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= switch_form.label :background_colour %><br />
            <%= switch_form.text_field :background_colour, size: 10 %>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= switch_form.check_box :pinch_grip %>
            <%= switch_form.label :pinch_grip %>
          </div>
          <div class="field">
            <%= switch_form.check_box :span_grip %>
            <%= switch_form.label :span_grip %>
          </div>
          <div class="field">
            <%= switch_form.check_box :spherical_grip %>
            <%= switch_form.label :spherical_grip %>
          </div>
          <div class="field">
            <%= switch_form.check_box :disc_grip %>
            <%= switch_form.label :disc_grip %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= switch_form.check_box :flat_hand_push %>
            <%= switch_form.label :flat_hand_push %>
          </div>
          <div class="field">
            <%= switch_form.check_box :one_finger_press %>
            <%= switch_form.label :one_finger_press %>
          </div>
          <div class="field">
            <%= switch_form.check_box :two_fingers_press %>
            <%= switch_form.label :two_fingers_press %>
          </div>
          <div class="field">
            <%= switch_form.check_box :thumb_press %>
            <%= switch_form.label :thumb_press %>
          </div>
        </td>
        <td></td>
      </tr>
    </table>
  <% end %>

  <%= f.fields_for :knob do |knob_form| %>
    <h2>Knob</h2>
    <table class="fields">
      <tr>
        <td>
          <div class="field">
            <%= knob_form.check_box :pressing %>
            <%= knob_form.label :pressing %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= knob_form.check_box :pushing %>
            <%= knob_form.label :pushing %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= knob_form.check_box :pulling %>
            <%= knob_form.label :pulling %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= knob_form.check_box :turning %>
            <%= knob_form.label :turning %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= knob_form.check_box :sliding %>
            <%= knob_form.label :sliding %>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="field">
            <%= knob_form.label :shape %>
            <%= knob_form.select :shape, Knob::SHAPE_VALUES, prompt: true %>
          </div>        
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= knob_form.label :length_or_radius %><br />
            <%= knob_form.text_field :length_or_radius, size: 10 %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= knob_form.label :width %><br />
            <%= knob_form.text_field :width, size: 10 %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= knob_form.label :height %><br />
            <%= knob_form.text_field :height, size: 10 %>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="field">
            <%= knob_form.label :force_required %><br />
            <%= knob_form.text_field :force_required, size: 10 %>
          </div>        
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= knob_form.label :colour %><br />
            <%= knob_form.text_field :colour, size: 10 %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= knob_form.label :background_colour %><br />
            <%= knob_form.text_field :background_colour, size: 10 %>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= knob_form.check_box :pinch_grip %>
            <%= knob_form.label :pinch_grip %>
          </div>
          <div class="field">
            <%= knob_form.check_box :span_grip %>
            <%= knob_form.label :span_grip %>
          </div>
          <div class="field">
            <%= knob_form.check_box :spherical_grip %>
            <%= knob_form.label :spherical_grip %>
          </div>
          <div class="field">
            <%= knob_form.check_box :cylindrical_grip %>
            <%= knob_form.label :cylindrical_grip %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= knob_form.check_box :disc_grip %>
            <%= knob_form.label :disc_grip %>
          </div>
          <div class="field">
            <%= knob_form.check_box :one_finger_press %>
            <%= knob_form.label :one_finger_press %>
          </div>
          <div class="field">
            <%= knob_form.check_box :two_fingers_press %>
            <%= knob_form.label :two_fingers_press %>
          </div>
          <div class="field">
            <%= knob_form.check_box :thumb_press %>
            <%= knob_form.label :thumb_press %>
          </div>
        </td>
        <td></td>
      </tr>
    </table>
  <% end %>

  <%= f.fields_for :button do |button_form| %>
    <h2>Button</h2>
    <table class="fields">
      <tr>
        <td>
          <div class="field">
            <%= button_form.check_box :pressing %>
            <%= button_form.label :pressing %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= button_form.check_box :pushing %>
            <%= button_form.label :pushing %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= button_form.check_box :pulling %>
            <%= button_form.label :pulling %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= button_form.check_box :turning %>
            <%= button_form.label :turning %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= button_form.check_box :sliding %>
            <%= button_form.label :sliding %>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="field">
            <%= button_form.label :shape %>
            <%= button_form.select :shape, Button::SHAPE_VALUES, prompt: true %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= button_form.label :length_or_radius %><br />
            <%= button_form.text_field :length_or_radius, size: 10 %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= button_form.label :width %><br />
            <%= button_form.text_field :width, size: 10 %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= button_form.label :height %><br />
            <%= button_form.text_field :height, size: 10 %>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="field">
            <%= button_form.label :force_required %><br />
            <%= button_form.text_field :force_required, size: 10 %>
          </div>        
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= button_form.label :colour %><br />
            <%= button_form.text_field :colour, size: 10 %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= button_form.label :background_colour %><br />
            <%= button_form.text_field :background_colour, size: 10 %>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= button_form.check_box :one_finger_press %>
            <%= button_form.label :one_finger_press %>
          </div>
          <div class="field">
            <%= button_form.check_box :two_fingers_press %>
            <%= button_form.label :two_fingers_press %>
          </div>
          <div class="field">
            <%= button_form.check_box :thumb_press %>
            <%= button_form.label :thumb_press %>
          </div>
        </td>
        <td></td>
      </tr>
    </table>
  <% end %>

  <%= f.fields_for :screen do |screen_form| %>
    <h2>Screen</h2>
    <table class="fields">
      <tr>
        <td>
          <div class="field">
            <%= screen_form.check_box :has_screen %>
            <%= screen_form.label :has_screen %>
          </div>
        </td>
      </tr>
    </table>
  <% end %>

  <%= f.fields_for :touch_screen do |touch_screen_form| %>
    <h2>Touch screen</h2>
    <table class="fields">
      <tr>
        <td colspan="3">
          <div class="field">
            <%= touch_screen_form.label :button_shape %>
            <%= touch_screen_form.select :button_shape, 
              TouchScreen::SHAPE_VALUES, prompt: true %>
          </div>        
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= touch_screen_form.label :button_length_or_radius %><br />
            <%= touch_screen_form.text_field :button_length_or_radius, 
              size: 10 %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= touch_screen_form.label :button_width %><br />
            <%= touch_screen_form.text_field :button_width, size: 10 %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= touch_screen_form.label :button_height %><br />
            <%= touch_screen_form.text_field :button_height, size: 10 %>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="field">
            <%= touch_screen_form.label :scroll_bar_shape %>
            <%= touch_screen_form.select :scroll_bar_shape, 
              TouchScreen::SHAPE_VALUES, prompt: true %>
          </div>        
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= touch_screen_form.label :scroll_bar_length_or_radius %><br />
            <%= touch_screen_form.text_field :scroll_bar_length_or_radius, 
              size: 10 %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= touch_screen_form.label :scroll_bar_width %><br />
            <%= touch_screen_form.text_field :scroll_bar_width, size: 10 %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= touch_screen_form.label :scroll_bar_height %><br />
            <%= touch_screen_form.text_field :scroll_bar_height, size: 10 %>
          </div>
        </td>
      </tr>
    </table>
  <% end %>

  <%= f.fields_for :label do |label_form| %>
    <h2>Label</h2>
    <table class="fields">
      <tr>
        <td>
          <div class="field">
            <%= label_form.check_box :printed %>
            <%= label_form.label :printed %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= label_form.check_box :digital %>
            <%= label_form.label :digital %>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="field">
            <%= label_form.label :font_type %>
            <%= label_form.text_field :font_type %>
          </div>        
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= label_form.label :text_size %><br />
            <%= label_form.text_field :text_size, size: 10 %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= label_form.label :text_colour %><br />
            <%= label_form.text_field :text_colour, size: 10 %>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="field">
            <%= label_form.label :labels_reading_distance %><br />
            <%= label_form.text_field :labels_reading_distance, size: 10 %>
          </div>        
        </td>
      </tr>
    </table>
  <% end %>

  <%= f.fields_for :opening_device do |opening_device_form| %>
    <h2>Opening device</h2>
    <table class="fields">
      <tr>
        <td>
          <div class="field">
            <%= opening_device_form.check_box :is_opening_device %>
            <%= opening_device_form.label :is_opening_device %>
          </div>
        </td>
      </tr>
    </table>
  <% end %>

  <%= f.fields_for :audio_device do |audio_device_form| %>
    <h2>Audio device</h2>
    <table class="fields">
      <tr>
        <td colspan="3">
          <div class="field">
            <%= audio_device_form.label :range_of_volume_specifications %><br />
            <%= audio_device_form.text_field :range_of_volume_specifications %>
          </div>        
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="field">
            <%= audio_device_form.label :sound_volume_specifications %><br />
            <%= audio_device_form.text_field :sound_volume_specifications %>
          </div>        
        </td>
      </tr>
    </table>
  <% end %>

  <h2>Other attributes</h2>
  <div class="field">
    <%= f.label :manufacturing %>
    <%= f.select :manufacturing, Proposal::MANUFACTURING_VALUES, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :key_components_mechanics %><br />
    <%= f.text_field :key_components_mechanics %>
  </div>
  <div class="field">
    <%= f.label :key_components_electronics %><br />
    <%= f.text_field :key_components_electronics %>
  </div>
  <div class="field">
    <%= f.label :key_components_fixing %><br />
    <%= f.text_field :key_components_fixing %>
  </div>
  <div class="field">
    <%= f.label :material %>
    <%= f.select :material, 
      grouped_options_for_select(Proposal::MATERIAL_VALUES), prompt: true %>
  </div>
  <div class="field">
    <%= f.label :finishing %>
    <%= f.select :finishing, Proposal::FINISHING_VALUES, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :maintenance %>
    <%= f.select :maintenance, Proposal::MAINTENANCE_VALUES, prompt: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
