<%= form_for([@project, @proposal]) do |f| %>
  <% if @proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proposal.errors.count, "error") %> prohibited this
        proposal from being saved:</h2>

      <ul>
      <% @proposal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label 'product_weight(Kg)' %><br />
    <%= f.text_field :product_weight %>
  </div>

  <h2>Images</h2>
  <%= f.fields_for :images do |build| %>
    <%= render 'image_fields', f: build %>
  <% end %>
  <p><%= link_to_add_fields "Add image", f, :images, true, false %></p>

  <h2>Other attributes</h2>
  <div class="field">
    <%= f.label :manufacturing %>
    <%= f.select :manufacturing, Proposal::MANUFACTURING_VALUES, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :key_components_mechanics %><br />
    <%= f.text_area :key_components_mechanics, size: '40x10' %>
  </div>
  <div class="field">
    <%= f.label :key_components_electronics %><br />
    <%= f.text_area :key_components_electronics, size: '40x10' %>
  </div>
  <div class="field">
    <%= f.label :key_components_fixing %><br />
    <%= f.text_area :key_components_fixing, size: '40x10' %>
  </div>
  <div class="field">
    <%= f.label :material %>
    <%= f.select :material,
      grouped_options_for_select(Proposal::MATERIAL_VALUES), prompt: true %>
  </div>
  <div class="field">
    <%= f.label :finishing %>
    <%= f.select :finishing, Proposal::FINISHING_VALUES, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :maintenance %>
    <%= f.select :maintenance, Proposal::MAINTENANCE_VALUES, prompt: true %>
  </div>

  <div class="actions">
    <%= link_to '&laquo; Back'.html_safe, :back %>
    <%= f.submit 'Save', name: :action_save %>
    <%= f.submit 'Add labels', name: :action_labels %>
    <%= f.submit 'Add handles', name: :action_handles %>
    <%= f.submit 'Add switches', name: :action_switches %>
    <%= f.submit 'Add knobs', name: :action_knobs %>
    <%= f.submit 'Add buttons', name: :action_buttons %>
  </div>
<% end %>
