<%= form_for([@project, @proposal], html: { class: 'form-horizontal' }) do |f| %>
  <%= field_set_tag t('.legend') do %>
    <%= tb_form_wrapper(@proposal, :name) do %>
      <%= f.text_field :name, placeholder: t('.name_placeholder') %>
    <% end %>
  <% end %>
  <%= tb_form_wrapper(@proposal, :product_weight) do %>
    <div class="input-append">
      <%= f.text_field :product_weight, class: 'input-small',
                       placeholder: t('.product_weight_placeholder') %>
      <span class="add-on"><%= t('.product_weight_unit') %></span>
    </div>
  <% end %>
  <%= tb_form_wrapper(@proposal, :images) do %>
    <h6>TODO</h6>
  <% end %>
  <%= tb_form_wrapper(@proposal, :attributes) do %>
    <div class="btn-group">
      <%= f.submit t('.labels'), name: :action_labels,
                   class: 'btn btn-small' %>
      <%= f.submit t('.handles'), name: :action_handles,
                   class: 'btn btn-small' %>
      <%= f.submit t('.switches'), name: :action_switches,
                   class: 'btn btn-small' %>
      <%= f.submit t('.knobs'), name: :action_knobs,
                   class: 'btn btn-small' %>
      <%= f.submit t('.buttons'), name: :action_buttons,
                   class: 'btn btn-small' %>
      <%= f.submit t('.other_attributes'), name: :action_other_attributes,
                   class: 'btn btn-small' %>
    </div>
  <% end %>
  <div class="form-actions">
    <%= link_to t('.back'), project_proposals_path(@project),
                class: 'btn' %>
    <%= f.submit t('.save'), name: :action_save, class: 'btn btn-primary' %>
  </div>
<% end %>
