<%= form_for(@proposal) do |f| %>
  <% if @proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proposal.errors.count, "error") %> prohibited this 
        proposal from being saved:</h2>

      <ul>
      <% @proposal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>: 
    <%= f.text_field :name %>
  </div>

  <h2>Shape attributes</h2>
  <%= render partial: 'form_shape', locals: { form: f, label: :handle_shape, 
    item_id: :handle_shape_id, collection: Shape.all } %>
  <%= render partial: 'form_shape', locals: { form: f, label: :switch_shape, 
    item_id: :switch_shape_id, collection: Shape.all } %>
  <%= render partial: 'form_shape', locals: { form: f, label: :knob_shape, 
    item_id: :knob_shape_id, collection: Shape.all } %>
  <%= render partial: 'form_shape', locals: { form: f, label: :button_shape, 
    item_id: :button_shape_id, collection: Shape.all } %>
  <%= render partial: 'form_shape', locals: { form: f, label: :scrollbar_shape, 
    item_id: :scrollbar_shape_id, collection: Shape.all } %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
