<%= form_for(@proposal) do |f| %>
  <% if @proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proposal.errors.count, "error") %> prohibited this 
        proposal from being saved:</h2>

      <ul>
      <% @proposal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :product_weight %><br />
    <%= f.text_field :product_weight %>
  </div>

  <div class="field">
    <%= f.label :product_colour %><br />
    <%= f.text_field :product_colour %>
  </div>

  <h2>Images</h2>
  <%= f.fields_for :images do |build| %>
    <%= render 'images_fields', f: build %> 
  <% end %>

  <%= f.fields_for :handle do |build| %>
    <%= render 'handle_fields', f: build %>
  <% end %>

  <%= f.fields_for :switch do |build| %>
    <%= render 'switch_fields', f: build %>
  <% end %>

  <%= f.fields_for :knob do |build| %>
    <%= render 'knob_fields', f: build %>
  <% end %>

  <%= f.fields_for :button do |build| %>
    <%= render 'button_fields', f: build %>
  <% end %>

  <%= f.fields_for :screen do |build| %>
    <%= render 'screen_fields', f: build %>
  <% end %>

  <%= f.fields_for :touch_screen do |build| %>
    <%= render 'touch_screen_fields', f: build %>
  <% end %>

  <%= f.fields_for :label do |build| %>
    <%= render 'label_fields', f: build %>
  <% end %>

  <%= f.fields_for :opening_device do |build| %>
    <%= render 'opening_device_fields', f: build %>
  <% end %>

  <%= f.fields_for :audio_device do |build| %>
    <%= render 'audio_device_fields', f: build %>
  <% end %>

  <h2>Other attributes</h2>
  <div class="field">
    <%= f.label :manufacturing %>
    <%= f.select :manufacturing, Proposal::MANUFACTURING_VALUES, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :key_components_mechanics %><br />
    <%= f.text_field :key_components_mechanics %>
  </div>
  <div class="field">
    <%= f.label :key_components_electronics %><br />
    <%= f.text_field :key_components_electronics %>
  </div>
  <div class="field">
    <%= f.label :key_components_fixing %><br />
    <%= f.text_field :key_components_fixing %>
  </div>
  <div class="field">
    <%= f.label :material %>
    <%= f.select :material, 
      grouped_options_for_select(Proposal::MATERIAL_VALUES), prompt: true %>
  </div>
  <div class="field">
    <%= f.label :finishing %>
    <%= f.select :finishing, Proposal::FINISHING_VALUES, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :maintenance %>
    <%= f.select :maintenance, Proposal::MAINTENANCE_VALUES, prompt: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
