<table class="fields">
  <tr>
    <td>
      <div class="field">
        <%= f.check_box :pressing %>
        <%= f.label :pressing %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.check_box :pushing %>
        <%= f.label :pushing %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.check_box :pulling %>
        <%= f.label :pulling %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="field">
        <%= f.check_box :turning %>
        <%= f.label :turning %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.check_box :sliding %>
        <%= f.label :sliding %>
      </div>
    </td>
    <td></td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="field">
        <%= f.label :shape %>
        <%= f.select :shape, Knob::SHAPE_VALUES, prompt: true %>
      </div>        
    </td>
  </tr>
  <tr>
    <td>
      <div class="field">
        <%= f.label 'length_or_diameter (mm)' %><br />
        <%= f.text_field :length_or_radius, size: 10 %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.label 'width (mm)' %><br />
        <%= f.text_field :width, size: 10 %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.label 'height (mm)' %><br />
        <%= f.text_field :height, size: 10 %>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="field">
        <%= f.label 'force_required (N)' %><br />
        <%= f.text_field :force_required, size: 10 %>
      </div>        
    </td>
  </tr>
  <tr>
    <td>
      <div class="field">
        <%= f.label :colour %><br />
        <%= f.text_field :colour, size: 10 %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.label :background_colour %><br />
        <%= f.text_field :background_colour, size: 10 %>
      </div>
    </td>
    <td></td>
  </tr>
  <tr>
    <td>
      <%= render 'check_box_with_image', f: f, field: :pinch_grip %>  
      <%= render 'check_box_with_image', f: f, field: :pinch_grip_2 %> 
    </td>
    <td>
      <%= render 'check_box_with_image', f: f, field: :span_grip %>
      <%= render 'check_box_with_image', f: f, field: :spherical_grip %>
    </td>
    <td>
      <%= render 'check_box_with_image', f: f, field: :disc_grip %>
      <%= render 'check_box_with_image', f: f, field: :disc_grip_2 %>
    </td>
    <td>
      <%= render 'check_box_with_image', f: f, field: :cylindrical_grip %>
      <div class="field">
        <%= f.check_box :one_finger_press %>
        <%= f.label :one_finger_press %>
      </div>
      <div class="field">
        <%= f.check_box :two_fingers_press %>
        <%= f.label :two_fingers_press %>
      </div>
      <div class="field">
        <%= f.check_box :thumb_press %>
        <%= f.label :thumb_press %>
      </div>
      <div class="vspace"></div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="field">
        <%= link_to_remove_fields "Remove knob", f %>
      </div>
    </td>
  </tr>
</table>