<div id="menu">
  <span>Project Specifications</span>
  &nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;
  <span id="current">Design Proposals</span>
  &nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;
  <span>Design Proposals Presentation</span>
</div>

<h1>Proposals</h1>

<% unless @proposals.empty? %>
  <table>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
    <% @proposals.each do |proposal| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class="list_description"><%= proposal.name %></td>
        <td class="list_actions">
          <%= link_to 'Edit', edit_project_proposal_path(@project, proposal) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
<br />
<%= link_to '&laquo; Back'.html_safe, :back %>
<%= link_to 'New Proposal', new_project_proposal_path, class: 'button'  %>
