<p id="notice"><%= notice %></p>

<p>
  <b>Proposal:</b>
  <%= @touch_screen.proposal_id %>
</p>

<p>
  <b>Button shape:</b>
  <%= @touch_screen.button_shape %>
</p>

<p>
  <b>Button length or radius:</b>
  <%= @touch_screen.button_length_or_radius %>
</p>

<p>
  <b>Button width:</b>
  <%= @touch_screen.button_width %>
</p>

<p>
  <b>Button height:</b>
  <%= @touch_screen.button_height %>
</p>

<p>
  <b>Scroll bar shape:</b>
  <%= @touch_screen.scroll_bar_shape %>
</p>

<p>
  <b>Scroll bar length or radius:</b>
  <%= @touch_screen.scroll_bar_length_or_radius %>
</p>

<p>
  <b>Scroll bar width:</b>
  <%= @touch_screen.scroll_bar_width %>
</p>

<p>
  <b>Scroll bar height:</b>
  <%= @touch_screen.scroll_bar_height %>
</p>


<%= link_to 'Edit', edit_touch_screen_path(@touch_screen) %> |
<%= link_to 'Back', touch_screens_path %>
