<!DOCTYPE html>
<html>
<head>
  <title>CddAdvisor</title>
  <%= favicon_link_tag "favicon.ico" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Ropa+Sans|Gentium+Basic|Advent+Pro", media: "all" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">

  <div id="container">
    <div id="banner">
      <%= image_tag("cambridge.png") %> 
      <p>Client-Designer Design Advisor</p>
    </div>
    <div id="main">
      <%= yield %>
    </div>
    <div id="footer">
      <%= link_to 'Project site', 
                  'https://github.com/rflbras/cdd_advisor' %>
    </div>
  </div>
</body>
</html>
